@import '../../styles/general/general'
    
.profile-profile-btn
    float: right
    width: 6rem !important
    height: 3rem !important
    text-transform: uppercase
    span
        line-height: 3rem
